header{
    background-color: #06131F;
    height: 89px;
}

.logo{
    width: 125px;
    
}

main{
    background-color: #1D2D3C;
}


.card{
    text-align: center;
    color: #fff;
    padding: 2rem;
    background-color: #112030;
    margin-right: 4rem;
    margin-top: 4rem;
}